.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.idea/
*.iml
.classpath
.project
.settings/
bin/
out/

.DS_Store
Thumbs.db

application-local.yml
.env
.env.local
